#sign-up {
    background-color: #F9F9EE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}