#choose {
    background-color: #F9F9EE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #ingredients {
        width: 250px;
        margin: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: white;
        border: #D2D000 .2rem solid;
        border-radius: .8rem;
        padding: 1rem;

        .ingredients-text {
            font-size: 1.6rem;
            color: #7D7D2D;
        }

        .ingredients-content {
            width: 250px;
            overflow-y: auto;
            display: flex;
            align-items: center;
            margin-block: .5rem;

            .ingredients-item {
                width: 3rem;
                padding: .5rem;
            }
        }
    }
}