#analysis-page {
  background-color: #f9f9ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weekly-analysis {
  width: 320px;
  margin: 0 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .analysis-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;

    .analysis-title-text {
      font-size: 1.1rem;
    }
  }

  .analysis-content {
    width: 100%;
    height: 13.5rem;
    background-color: white;
    border: #d2d000 0.2rem solid;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .date {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .date-text {
        color: #7d7d2d;
        font-size: 1rem;
        margin: 0.5rem 0.8rem 0.1rem;
      }
    }

    .time {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .time-text {
        font-size: 2rem;
        margin-left: 0.8rem;
        color: #36423c;
      }

      .study-time-comparison {
        font-size: 0.8rem;
        margin-left: auto;
        margin-top: auto;
        margin-right: 0.8rem;
      }
    }
  }
}

.ingredient-list {
  width: 320px;
  margin: 0 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .ingredient-list-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .ingredient-list-content {
    width: 100%;
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .ingredient-list-summary-container {
      color: #36423c;
      margin-left: 0.8rem;
      margin-top: 0.8rem;
    }

    .ingredient-list-summary-text {
      color: #36423c;
    }

    .ingredient-list-item-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0.8rem;
      overflow-x: scroll;
    }

    .ingredient-list-item {
      margin: 0.2rem;
    }
  }
}
