#setting {
    width: 100%;
    height: 100vh;
    background: #F9F9EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;

    .invite-title {
        color: #000;
        text-align: center;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .link-container {
        margin: 1rem 0;
    }

    .link {
        color: #000;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        margin: 1rem 0;
    }

    .btn {
        margin: 0 0.75rem;
        padding: 0.75rem 0;
        width: 7rem;
        border: none;
        border-radius: 10px;
        background: #7F84C5;
        color: #FFF;
        text-align: center;
        font-family: Jua;
        font-size: 1.5rem;
    }

    #chef-cat {
        /* width: 12rem;
        height: 12rem; */
        transform: rotate(14.925deg);
        position: relative;
        bottom: 5vh;
        left: 7rem;
        object-fit: cover;
    }

    .leave-btn {
        position: relative;
        bottom: 5vh;
        padding: 0.75rem 0;
        width: 10rem;
        border: none;
        border-radius: 10px;
        background: #D2D000;
        color: #36423C;
        text-align: center;
        font-family: Jua;
        font-size: 1.5rem;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1001; /* 調整 z-index，確保 modal 在 overlay 之上 */
      }
      
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
      }
  
}