#room {
    background-color: #F9F9EE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #members {
        width: 320px;
        margin: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .members-title {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: .5rem;
            font-size: 1.1rem;
        }

        .members-content {
            width: 100%;
            min-height: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: #D2D000;
            border-radius: 1.6rem;
            padding: 0.6rem;

            .members-item {
                margin: .3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                border-width: .3rem;
                border-style: solid;

                .avatar {
                    width: 2.5rem;
                }
            }
        }
    }

    #group-analysis {
        width: 320px;
        margin: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        .group-analysis-content {
            width: 100%;
            min-height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background-color: white;
            border: #D2D000 .2rem solid;
            border-radius: 1.6rem;

            .group-analysis-title {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: end;
                margin-block: .6rem;
                margin-left: 1rem;

                .group-analysis-title-text {
                    font-size: 1.6rem;
                    margin-inline: .5rem;
                }

                .group-analysis-title-date {
                    font-size: 1rem;
                    color: #7D7D2D;
                }
            }
        }
    }

    #bottom-menu {
        background-color: #D2D000;
        margin-bottom: 0;
        padding-block: .5rem;
        /* height: 4vh; */
        /* width: 100%; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .bottom-menu-item {
            height: 2.5rem;
        }
        .bottom-menu-start {
            height: 4rem;
            margin-top: -1.5rem;
        }
    }
}